@model tp7.Models.DossiersSinistre

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DossiersSinistre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOuverture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOuverture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCloture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCloture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Indemnite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Indemnite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdExpertNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdExpertNavigation.IdExpert)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdcorrespondantNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcorrespondantNavigation.IdCorrespondant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumContratNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumContratNavigation.Num)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodeDossier" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
